[run]
omit = 
    .venv/*/**

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    pragma: no cover-behave
    def __repr__
    raise NotImplementedError

