# Development dependencies
setuptools==40.4.2
coverage==4.5.1
codacy-coverage==1.3.11
pylint==2.1.1
pydocstyle==2.1.1
pycodestyle==2.4.0
bandit==1.5.1
mypy==0.630
hypothesis==3.71.10
behave==1.2.6
asserts==0.9.0
pydeps==1.6.2
pyroma==2.4
vulture==0.29

