# Development dependencies
asserts==0.11.1
bandit==1.7.4
behave==1.2.6
coverage==6.4
docker-compose==1.29.2
hypothesis==6.46.7
lxml==4.8.0
mypy==0.950
nose==1.3.7
pip==22.1.1
pycodestyle==2.8.0
pydeps==1.10.18
pydocstyle==6.1.1
pylint==2.13.9
pyroma==4.0
safety==2.1.0
setuptools==62.3.1
twine==4.0.0
vulture==2.3
